@page
@using ComicShelf.Localization;
@model IndexModel
@inject LocalizationService Localizer

@{
    ViewData["Title"] = "Series";
    ViewData["SeriesActive"] = "active";
}

<h1>@Localizer["Series"]</h1>

<div class="row">
    <div class="custom-table">

        @foreach (var series in Model.Series)
        {
            <div class="series-wrapper" id="series-@series.Id">
                <partial name="_SeriesRowPartial" model="new PartialRowView(){ Publishers = Model.Publishers, Types = Model.Types, UpdateItem = series}" />
            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="~/js/Series.js"></script>
}