@page
@model ComicShelf.Pages.SeriesNs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Series</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Series.Name" class="form-control" placeholder="Name" />
                <label asp-for="Series.Name" class="control-label"></label>
                <span asp-validation-for="Series.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Series.OriginalName" class="form-control" placeholder="Original Name" />
                <label asp-for="Series.OriginalName" class="control-label"></label>
                <span asp-validation-for="Series.OriginalName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Series.Publishers" class="form-control" type="text" placeholder="Input your keyword" />
                <label asp-for="Series.Publishers" class="control-label"></label>
                <div class="form-text">
                    Each publisher must be separated by coma (,)
                </div>

                <span asp-validation-for="Series.Publishers" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Series.Type" class="form-select" asp-items="@Model.Types"></select>
                <label asp-for="Series.Type" class="control-label"></label>
                <span asp-validation-for="Series.Type" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" asp-for="Series.Ongoing" onchange="ongoingChanged()" />
                <label class="form-check-label">@Html.DisplayNameFor(model => model.Series.Ongoing)</label>
            </div>
            <div class="form-floating mb-3" id="totalIssues">
                <input asp-for="Series.TotalIssues" class="form-control" type="number" placeholder="0" />
                <label asp-for="Series.TotalIssues" class="control-label"></label>
                <span asp-validation-for="Series.TotalIssues" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Series.js"></script>
}
