@page
@model ComicShelf.Pages.SeriesNs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Series</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Series.Id" />
            <div class="form-floating mb-3">
                <input asp-for="Series.Name" class="form-control" placeholder="Name"/>
                <label asp-for="Series.Name" class="control-label"></label>
                <span asp-validation-for="Series.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Series.OriginalName" class="form-control" placeholder="Original title"/>
                <label asp-for="Series.OriginalName" class="control-label"></label>
                <span asp-validation-for="Series.OriginalName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Series.Publishers" class="form-control" type="text" placeholder="Input your keyword" />
                <label asp-for="Series.Publishers" class="control-label"></label>
                <div class="form-text">
                    Each publisher must be separated by coma (,)
                </div>
                <span asp-validation-for="Series.Publishers" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Series.Type" class="control-label"></label>
                <select asp-for="Series.Type" class="form-select" asp-items="@Model.Types"></select>
                <span asp-validation-for="Series.Type" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Series.Ongoing" onchange="ongoingChanged()" /> @Html.DisplayNameFor(model => model.Series.Ongoing)
                </label>
            </div>
            <div class="mb-3" id="totalIssues">
                <label asp-for="Series.TotalIssues" class="control-label"></label>
                <input asp-for="Series.TotalIssues" class="form-control" type="number" />
                <span asp-validation-for="Series.TotalIssues" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            ongoingChanged();
        });
    </script>
    <script src="~/js/Series.js"></script>

}
