html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}



@media (min-width: 768px) {
    html {
        font-size: 16px;
    } 
}

.Production {
    background-color: green;
}

.Development {
    background-color: darkorange;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


body {
    margin-bottom: 60px;
}

@font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

div {
}
/*
.ui-autocomplete {
    background-color: red;
}

.ui-helper-hidden-accessible{
    visibility: hidden;
}*/



/*.shelf {
    background-color: rgb(91, 91, 91);
    width: 100%;
    float: left;
    border-bottom: 40px solid rgb(198, 196, 196);
    border-left: 20px solid rgb(125, 125, 125);
    border-right: 20px solid rgb(125, 125, 125);
    border-top: 20px solid rgb(75, 75, 75);
    height: 450px;
}
@media (min-width:1000px) {
    .shelf {
        border-bottom: 50px solid rgb(198, 196, 196);
        border-left: 50px solid rgb(125, 125, 125);
        border-right: 50px solid rgb(125, 125, 125);
        border-top: 50px solid rgb(75, 75, 75);
    }
}
    .shelf-face {
        height:20px;
        border-bottom: 20px solid rgb(125, 125, 125);
    }*/


.shelf {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.book {
    position: relative;
    width: 200px;
    height: 280px;
    background-color: #2b3035;
    border: 1px solid #495057;
    border-radius: 10px;
    display: flex;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px -5px 10px black;
    padding: 10px;
    overflow: hidden;
    margin:5px;
}

@media(max-width: 462px){
    .book {
        width: 48%;
        margin: 1%;
        height: 220px;
    }
}

    .book:hover {
        transition: 0.2s ease-in;
        transform: scale(1.235);
        backface-visibility: hidden;
        box-shadow: 0px 0px 30px black;
        z-index: 3 !important;
    }


.book-number {
    font-size: xx-large;
    font-style: italic;
    overflow: hidden;
    height: 55px;
    width: 45px;
    -webkit-text-stroke: white 1px;
    color: white;
    position: absolute;
    right: 15px;
    top: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 10px black;
}

.book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.book-header {
    position: absolute;
    width: 100%;
    height: 65px;
    bottom: 10%;
    margin:-10px;
}

.book-title {
    background-color: #212529c1;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
}

.book-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    line-height: 15px;
    overflow: clip;
    display: flex; /* Use flexbox to vertically align content */
    align-items: center; /* Center content vertically */
    justify-content: center;
}

.book-badge {
    position: absolute;
    width: auto;
    left: 0;
    top: 20px;
    line-height: 15px;
    padding: 10px;
    border-radius: 0 25px 25px 0;
    color: white;
    backdrop-filter: blur(5px);
    overflow: hidden;
    font-size: 12px;
}

.book-badge-wishlist {
    background-color: #0e48b1c1;
}

.book-badge-preordered {
    background-color: #0e961fc1;
}

.book-badge-announced {
    background-color: #eea713c1;
}

.badge-date {
    top: 60px;
    width: 40%;
    background-color: dodgerblue;
}

.badge-date-expired {
    top: 60px;
    background-color: dodgerblue;
}

.expired {
    background-color: #c70000c1;
}

.flag {
    width: 22px;
}

.volume-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.star {
    width: 60px; /* Adjust the size of the star container */
    height: 60px; /* Adjust the size of the star container */
    position: absolute;
    bottom: 3px;
    right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/static/Gold_Star.svg") ;
    background-size: contain;
    z-index: 2 !important;
    transform: rotate(20deg);
}


.number {
    position: relative;
    z-index: 1 !important;
    font-size: 24px; /* Adjust font size as needed */
    color: #000; /* Text color */
    text-decoration: blink;
}