html {
  font-size: 14px;
  position: relative;
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.Production {
  background-color: #198754;
}

.Development {
  background-color: #fd7e14;
}

body {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(18% 28% at 34% 41%, rgba(253, 253, 113, 0.2117647059) 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(18% 28% at 26% 69%, rgba(127, 89, 131, 0.3490196078) 6%, rgba(7, 58, 255, 0) 100%), radial-gradient(70% 53% at 36% 76%, #102c36 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(42% 53% at 15% 94%, #050101 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(42% 53% at 34% 72%, #06041d 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(18% 28% at 35% 87%, #1ed879 7%, rgba(7, 58, 255, 0) 100%), radial-gradient(31% 43% at 7% 98%, #611717 24%, rgba(7, 58, 255, 0) 100%), radial-gradient(21% 37% at 72% 23%, rgba(4, 30, 67, 0.6156862745) 24%, rgba(7, 58, 255, 0) 100%), radial-gradient(35% 56% at 91% 74%, rgba(8, 1, 20, 0.9607843137) 0%, rgba(7, 58, 255, 0) 100%), radial-gradient(74% 86% at 67% 38%, rgba(109, 245, 255, 0.6509803922) 24%, rgba(7, 58, 255, 0) 100%), linear-gradient(125deg, #000812 1%, #020d0f 100%);
  background-attachment: fixed;
  /*    background-size: auto;
      background-blend-mode: color;
  */
  padding-right: 0px !important;
  margin-right: 0px !important;
}
body .modal-open {
  overflow: auto;
}

#main-container {
  background-color: rgba(255, 255, 255, 0.1333333333);
  backdrop-filter: blur(10px);
  border: 1px solid gray;
  border-radius: 5px;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  min-height: 90vh;
}

.update-on-status-change {
  transition: color 0.5s ease; /* Example: transition the 'color' property over 0.5 seconds */
}

.modal-input-form {
  border: none;
  width: 95%;
}

.shelf {
  display: flex;
  flex-direction: row;
  flex: 0 0 100%;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  padding: 0;
}

.book {
  position: sticky;
  width: 190px;
  height: 280px;
  background-color: rgba(45, 81, 78, 0.8392156863);
  border: 1px solid #495057;
  border-radius: 0.5rem;
  display: flex;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px -5px 10px black;
  padding: 5px;
  overflow: hidden;
  margin: 10px;
}

.book:hover {
  transition: 0.2s ease-in;
  transform: scale(1.235);
  backface-visibility: hidden;
  box-shadow: 0px 0px 30px black;
  z-index: 3 !important;
}

@media (max-width: 462px) {
  .book {
    width: 48%;
    margin: 1%;
    height: 220px;
  }
}
.book-number {
  font-size: xx-large;
  font-style: italic;
  overflow: hidden;
  height: 55px;
  width: 45px;
  -webkit-text-stroke: white 1px;
  color: white;
  position: absolute;
  right: 15px;
  top: 20px;
  border: 2px solid white;
  box-shadow: 0px 0px 10px black;
}

.book-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: white;
  border-radius: 0.5rem;
}

.book-header {
  position: absolute;
  width: calc(100% - 10px);
  height: 65px;
  bottom: 5%;
}

.book-title {
  background-color: rgba(33, 37, 41, 0.7568627451);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}

.book-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
  line-height: 15px;
  overflow: clip;
  display: flex; /* Use flexbox to vertically align content */
  align-items: center; /* Center content vertically */
  justify-content: center;
}

.book-badge {
  position: absolute;
  width: auto;
  left: 0;
  top: 20px;
  line-height: 15px;
  padding: 10px;
  border-radius: 0 25px 25px 0;
  color: white;
  backdrop-filter: blur(5px);
  overflow: hidden;
  font-size: 12px;
}

.book-badge-wishlist {
  background-color: rgba(14, 72, 177, 0.7568627451);
}

.book-badge-preordered {
  background-color: rgba(14, 150, 31, 0.7568627451);
}

.book-badge-announced {
  background-color: rgba(238, 167, 19, 0.7568627451);
}

.badge-date {
  top: 60px;
  width: 40%;
  background-color: dodgerblue;
}

.badge-date-expired {
  top: 60px;
  background-color: dodgerblue;
}

.expired {
  background-color: rgba(199, 0, 0, 0.7568627451);
}

.flag {
  width: 22px;
}

.volume-image {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.star {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/static/Gold_Star.svg");
  background-size: contain;
  z-index: 2 !important;
  transform: rotate(20deg);
}

.number {
  position: relative;
  z-index: 1 !important;
  font-size: 24px; /* Adjust font size as needed */
  color: #000; /* Text color */
  text-decoration: blink;
}

.filter-header {
  font-size: 24px;
  font-weight: 500;
  color: #fd7e14;
}

.btn-group-vertical .btn:hover {
  background-color: #fd7e14;
}

.single-button {
  margin: 0;
}

.custom-table {
  background-color: transparent;
}
.custom-table form > .row {
  padding: 10px;
  border-bottom: 1px solid #495057;
}
.custom-table form > .row:hover {
  background-color: #fd7e14;
}
