html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
    font-family: NotoColorEmojiLimited;
    unicode-range: U+1F1E6-1F1FF;
    src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

div {
    font-family: 'NotoColorEmojiLimited', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/*
.ui-autocomplete {
    background-color: red;
}

.ui-helper-hidden-accessible{
    visibility: hidden;
}*/

.shelf {
    background-color: blueviolet;
    width: 100%;
    float: left;
}

.book {
    width: 40px;
    height: 220px;
    background-color: white;
    border: solid 1px black;
    border-radius: 4px;
    display: table;
    text-align: center;
    float:left;
    position: relative;
    cursor: pointer;
}

.book-number {
    font-size: 22px;
    font-style: italic;
    font-weight: 900;
    color: hotpink;
    background-color: dodgerblue;
    overflow: hidden;
    height: 35px;
}

.book-title {
    margin: 5px 5px 5px 5px;
    position: absolute;
    line-height: 15px;
    top: 35px;
    left: 0px;
    width: 30px;
    text-align:justify-all;
    vertical-align: central;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}


.thumb .preview {
    position: absolute;
    visibility: hidden;
}

.thumb:hover, .thumb:hover .preview {
    visibility: visible;
    top: 0;
    left: 100px;
    z-index: 1;
}