@using ComicShelf.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="thumb">
    <div class="book" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="@Model.Id">
        <span class="preview"><img src="@Model.CoverUrl" alt="" width="300"></span>
        <div class="book-number">@Model.Number</div>
        <div class="book-title">@Model.Series.Name</div>
    </div>
    @if (Model.PurchaseStatus == Models.Enums.PurchaseStatus.Announced)
    {
        <span class="position-absolute top-100 start-50 translate-middle p-2 bg-info border border-light rounded-circle"></span>

    }
    else
    {
        <span class="position-absolute top-100 start-50 translate-middle p-2 bg-success border border-light rounded-circle"></span>
    }
</div>