@using Services.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<VolumeViewModel>





<div class="shelf">
    @foreach (var item in Model)
    {
        var errorClass = item.HasError ? "bg-danger" : string.Empty;

        <form method="get"
              asp-page-handler="Volume" data-ajax-method="get" data-ajax="true"
              data-ajax-mode="replace"
              data-ajax-update="#detail-modal-content"
              data-ajax-complete="detailsLoaded">
              <input type="number" name="id" value="@item.Id" hidden>
            <button id="btn_@item.Id" type="submit" hidden></button>
        </form>
        <div class="book @errorClass" onclick="$('#btn_@item.Id').click()" data-bs-toggle="modal" data-bs-target="#detailModal" id="book-@item.Id">
            <partial name="_BookPartial" model="item" view-data="@ViewData" />
        </div>

    }
</div>


