@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ComicShelf.Pages.Volumes.IndexModel


<form method="post" id="import-form" asp-page-handler="ParseUrl" data-ajax-method="post" data-ajax="true" enctype="multipart/form-data" data-ajax-complete="importComplete">
    <div class="row">
        <div class="col-md-6">
            <input asp-for="ImportUrl" type="url" class="form-control" placeholder="Введіть url" autocomplete="off" />
        </div>
        <div class="col-md-1">
            <button class="btn btn-info" type="submit">Загрузити</button>

        </div>
    </div>
</form>