@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ComicShelf.Pages.Volumes.IndexModel

<div class="container">
    <form method="post" id="import-form" asp-page-handler="ParseUrl" data-ajax-method="post" data-ajax="true" enctype="multipart/form-data" data-ajax-complete="importComplete" data-ajax-begin="importBegin">
        <div class="row modal-footer">
            <div class="col-2">
                <label for="importUrl">Імпорт з сайту</label>
            </div>
            <div class="col">
                <input name="importUrl" type="url" class="form-control" placeholder="Введіть url" autocomplete="off" />
            </div>
            <div class="col-2">
                <button class="btn btn-success" type="submit">Загрузити</button>
            </div>
            <div class="col-1">
                <div class="spinner-border" id="import-spinner" role="status" style="display: none;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

        </div>
    </form>
</div>