@page "/Home"
@model ComicShelf.Pages.IndexModel
@{
}

<div class="row">
    <div class="col-4 site-selector">
        <div class="text">
            MANGA NAD COMICS
        </div>
    </div>
    <div class="col-4 site-selector">
        <div class="text">
            ANIME
        </div>

    </div>
    <div class="col-4 site-selector">
        <div class="text">
            BEER
        </div>
    </div>
</div>