@page
@using Services;
@model IndexModel
@inject ILocalizationService Localizer

@{
    ViewData["Title"] = Localizer["Authors"];
}

<h1>@Localizer["Authors"]</h1>
<div class="row">

    <div class="custom-table">
        @foreach (var author in Model.Authors)
        {
            <div id="author-@author.Id">

                @{
                    var tmp = new AuthorEditPageModel() { Author = author, AvailableRoles = Model.AvailableRoles };
                }
                <partial name="_AuthorPartialEdit" model="@tmp"/>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/Authors.js"></script>
}