@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ComicShelf</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/themes/ui-darkness/jquery-ui.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*    <link rel="stylesheet" href="~/ComicShelf.styles.css" asp-append-version="true" />
*@
</head>
<body>
    <header class="@hostingEnv.EnvironmentName">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Volumes/Index">ComicShelf</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"s
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
@*                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Volumes/Index">Shelf</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Series/Index">Series</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Authors/Index">Authors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Publishers/Index">
                                Publishers
                                @{
                                    var value = ViewData["PublisherNotification"];
                                    if (!string.IsNullOrEmpty(value.ToString()))
                                    {
                                        <span class="badge rounded-pill bg-danger">!</span>
                                    }
                                }
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Countries/Index">
                                Countries
                                @{
                                    //bool.TryParse(ViewData["CoutryNotification"].ToString(), out bool result);

                                    //if(result)
                                    //{
                                    //    <span class="badge rounded-pill bg-danger">!</span>
                                    //}
                                }
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ComicShelf - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>